project:
  type: website
  output-dir: docs
  preview:
    port: 9999
  render:
    - "*.qmd"
    - "!dev/"
    - "!specs/"
    - "!slides/"
    - "!classroom/"
    - "!weeks/**/prep/"
    - "!weeks/0[3-9]/**"
    - "!weeks/[1-9][0-9]/**"

  # filters:
  #   - glossary

external-env: true
jupyter: w26-201b

execute:
  python: ".venv/bin/python"
  external: true
  cache: true
  freeze: auto

website:
  announcement:
    icon: megaphone-fill
    dismissable: false
    content: "**Site Updates:** Lab 01 materials (view only) and updated course Schedule."
    type: success
    position: below-navbar
  title: "PSYC 201B"
  repo-url: https://github.com/psyc-201/w26-201b
  navbar:
    logo: logo25.png
    search: true
    tools:
      - icon: github
        href: https://github.com/psyc-201/w26-201b
    left:
      - text: Schedule
        href: schedule.qmd
      - text: Guides & Resources
        menu:
          - guides/terminology.qmd
          # - guides/formulas.qmd
          # - guides/linear-algebra.qmd
          - guides/git-guide.qmd
          - guides/classroom-guide.qmd
          - guides/python-guide.qmd
      - text: Previous course versions
        href: https://psyc201b.github.io/PSYC-201B/

  sidebar:
    - id: weeks
      title: "Week-by-Week"
      style: docked
      contents:
        - section: "Week 1"
          contents:
            - text: "Overview"
              href: weeks/01/index.qmd
            - text: '"Pre-flight" Lab Setup'
              href: weeks/01/lab/index.qmd
            - text: "Python Fundamentals"
              href: weeks/01/lab/python-fundamentals.qmd
            - text: "Polars Crash Course"
              href: weeks/01/lab/polars-crash-course.qmd
        - section: "Week 2"
          contents:
            - text: "Overview"
              href: weeks/02/index.qmd
            # - text: "Plotting Crash Course"
            #   href: weeks/02/lab/seaborn-crash-course.qmd

bibliography: references.bib

glossary:
  path: glossary.yml
  popup: click
  show: true

format:
  html:
    theme:
      - cosmo
    css: assets/custom.css
    code-fold: true
    code-copy: true
    code-line-numbers: true
    toc: true
    toc-depth: 4
    include-in-header:
      - text: |
          <script type="module" src="https://cdn.jsdelivr.net/npm/@marimo-team/islands@0.18.4/dist/main.js"></script>
          <link href="https://cdn.jsdelivr.net/npm/@marimo-team/islands@0.18.4/dist/style.css" rel="stylesheet" />
